body {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

p {
  line-height: normal;
  color: #565656;
  margin: 10px auto;
}

/* Container */
.container-fluid {
  padding: 0 12%;
}

/* Scroll Bar */
::-webkit-scrollbar {
    display: none;
}

/* User Selection Session */
#user-selection {
  background-color: gray;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2), inset 0 -1px 0 rgba(255,255,255,0.2);
}

form {
  padding: 10px 20px 10px 0;
}

textarea {
  resize: none;
}

/* Info Session */
#info {
  margin: 25px 0;
  text-align: center;
}

.info-box {
  padding: 1% 1%;
}

.card-header {
  height: 50px;
  text-align: center;
}

.card-body {
  height: 200px;
  overflow-y:scroll;
}

.card-crypto-info {
  height: 250px;
  overflow-y:hidden;
  padding: 7%;
}

.card-crypto-image {
  margin-right: 5px;
}

.card-crypto-symbol {
  white-space: nowrap;
  font-size: 20px;
}

/* Graphics Session */
#graphics {
  margin: 25px 0;
  text-align: center;
}

.graphics-column {
  padding: 0% 1% 1%;
}

#chart {
  height: 660px;
}

table {
  table-layout: auto;
}

#crypto-table {
  margin: 0;
  width: 100%;
}

.graphics-column {
  height: 700px;
  padding: 10px;
}

.graphics-column > div {
  height: 100%;
}

.graphics-column-table {
  padding: 20px;
  display: none;
}

th {
  white-space: nowrap;
}

.dataTables_scroll
{
    overflow:auto;
    height: 530px;
}

.card-body {
  padding: 5px 10px;
}
